<!DOCTYPE html>
<html lang="en">
<head>
   
    {{>header}}
    <title>Index</title>
</head>
<body>
    {{>navbar}}
    
    <div class="main">
      <img src="images/1.png" alt="">
      <div class="centered">
        <h4 class="p1">Welcome on this portal</h4>
        <p class="p2">Node Registration and Login portal</p>
      </div>
    </div>
    <div class="container card1">
     <div class="row">
        <div class="col-lg-10 mx-auto">
               <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/and.jpg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Android Development</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/dig.jpg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Digital Markiting</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/soft.jpg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Software Development</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
     </div>
    </div>
<div class="container mb-5">
     <div class="row">
        <div class="col-lg-10 mx-auto">
               <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/web.jpg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Android Development</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/mark.jpeg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Digital Markiting</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                   <img src="images/app.jpg"  class="card-img-top" alt="">
                    <div class="card-body">
                     <h5 class="card-title">Software Development</h5>
                    <p class="card-text">Discover the latest app development tools, platform updates, training, and documentation for developers across every Android device</p>
                    <a href="#" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
     </div>
    </div>
    {{>footer}}
</body>
</html>